### Data source [NCES](http://nces.ed.gov/ipeds/deltacostproject/)

The data is publicly available from National Center of Education Statistics (NCES). The Integrated Postsecondary Education Data System (IPEDS) data includes includes academic years from 19887 through 2012. The data  derived from the institutional characteristics, finance, enrollment, completions, graduation rates, student financial aid, and human resources IPEDS survey components and a limited number of outside sources. The database contains one observation per institution for each year of data that is available; it includes all institutions that reported institutional characteristic data to IPEDS in the fall of each academic year. 

To allow for trends analyses that are not affected by institutions entering or leaving the dataset, the database includes variables to identify panels of institutions that report data consistently over specified time periods. These institutional panels are referred to as “matched sets.” To be included in the matched set, an institution must have data on three measures—fall full-time equivalent (FTE) student enrollment, instructional expenditures, and student completions—for every year in the panel time period. There are three different matched sets that cover different time periods: 1987-2012, 2002-2012, and 2007-2012. 

By analysing the data, we try to answer the following questions:
1. What types of financial aid are most effective in maximizing completion rates?
2. What types of financial aid are most effective in minimizing student loan burdens?
3. What types of financial aid are most effective in maintaining well-funded schools? 

some fearues:
1. totalcompletions_100fte: total completions per 100 FTE students

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from IPython.display import display

In [33]:
dt_8799 = pd.read_csv('delta_public_87_99.csv' , low_memory=False)
dt_8799.shape

(128053, 974)

In [3]:
dt_0012 = pd.read_csv('delta_public_00_12.csv', low_memory=False)
dt_0012.shape

,groupid,academicyear,unitid_linchpin,unitid,isgrouped,instname,TCSName,city,state,zip,...,Iptall1,Iptall2,Iptall3,Iptall4,Iptall5,Iptall6,Iptall7,Iptall8,Ifaculty_instr_headcount,Isalarytotal
0,-475291,2012,475291,475291,0,Brown College-Brooklyn Center,NaN,Brooklyn Center,MN,55430,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,-475282,2012,475282,475282,0,Marian Health Careers Center-Van Nuys Campus,NaN,Van Nuys,CA,91411,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
2,-475273,2012,475273,475273,0,Springfield College-School of Human Services,NaN,Springfield,MA,01109,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
3,-475255,2012,475255,475255,0,American Broadcasting School-Online Program,NaN,Oklahoma City,OK,73115,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
4,-475246,2012,475246,475246,0,Kaplan College-Chesapeake,NaN,Chesapeake,VA,23320,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2

In [ ]:
dt_0012.head()

In [4]:
dt_0012.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 87560 entries, 0 to 87559
Columns: 974 entries, groupid to Isalarytotal
dtypes: float64(550), int64(419), object(5)
memory usage: 651.3+ MB

### Find columns have all null values

In [70]:
cols = dt_0012.columns
dt_0012_null_cols = []
for col in cols:
    if dt_0012[col].isnull().values.all() == True:
        dt_0012_null_cols.append(col)
        
print dt_0012_null_cols

['tuition01', 'tuition02', 'grants01u', 'grants01r']

In [64]:
dt_8799_null_cols = []
for col in cols:
    if dt_8799[col].isnull().values.all() == True:
        dt_8799_null_cols.append(col)
        
print dt_8799_null_cols

['fte12mn', 'other04', 'any_aid_num', 'any_aid_pct', 'fed_grant_num', 'fed_grant_pct', 'fed_grant_avg_amount', 'state_grant_num', 'state_grant_pct', 'state_grant_avg_amount', 'inst_grant_num', 'inst_grant_pct', 'inst_grant_avg_amount', 'loan_num', 'loan_pct', 'loan_avg_amount', 'tuition01_tf', 'fee01_tf', 'tuition02_tf', 'fee02_tf', 'tuition03_tf', 'fee03_tf', 'tuition05_tf', 'fee05_tf', 'tuition06_tf', 'fee06_tf', 'tuition07_tf', 'fee07_tf', 'otheroper01', 'otheroper02', 'totaloper03', 'totaloper04', 'totaloper05', 'interest01', 'othernon01', 'othernon02', 'other01', 'other01_fasb', 'other02', 'totalnon01', 'totalnon02', 'total06', 'eandg04', 'eandg05', 'eandg06', 'eandg07', 'grad_rate_150_n', 'grad_rate_150_p', 'grad_rate_adj_cohort_n', 'grad_rate_150_n4yr', 'grad_rate_150_p4yr', 'grad_rate_adj_cohort_n4yr', 'grad_rate_150_n2yr', 'grad_rate_150_p2yr', 'grad_rate_adj_cohort_n2yr', 'ugentering', 'grscohort', 'grscohortpct', 'ftretention_rate', 'ptretention_rate', 'fall_cohort_num', 'fall_cohort_pct', 'fall_cohort_num_indistrict', 'fall_cohort_pct_indistrict', 'fall_cohort_num_instate', 'fall_cohort_pct_instate', 'fall_cohort_num_outofstate', 'fall_cohort_pct_outofstate', 'fall_cohort_num_resunknown', 'fall_cohort_pct_resunknown', 'fall_total_undergrad', 'year_cohort_num', 'year_cohort_pct', 'year_total_undergrad', 'total_enrollment_multi_tot', 'applcn', 'applcnm', 'applcnw', 'admssn', 'admssnm', 'admssnw', 'enrlt', 'enrlm', 'enrlw', 'applicantcount', 'admitcount', 'enrollftcount', 'enrollptcount', 'actnum', 'actpct', 'actcm25', 'actcm75', 'acten25', 'acten75', 'actmt25', 'actmt75', 'satnum', 'satpct', 'satmt25', 'satmt75', 'satvr25', 'satvr75']

### Remove columns which have all null values in either dataset

In [77]:
new_cols = [ col for col in cols if col not in (dt_0012_null_cols+dt_8799_null_cols)]
print len(new_cols)

868

In [107]:
# combine data
data = pd.concat([dt_0012[new_cols], dt_8799[new_cols]], axis=0)
data.shape

(215613, 868)

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

sns.factorplot("totalcompletions_100fte", col="matched_n_87_12_26",data= data, hue='academicyear', kind="count")

In [ ]:
data['totalcompletions_100fte'].groupby(data['academicyear']).mean()