### Data source [NCES](http://nces.ed.gov/ipeds/deltacostproject/)

In [41]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame
from IPython.display import display

In [3]:
dt_0012 = pd.read_csv('delta_public_00_12.csv', low_memory=False)
dt_0012.head()

C:\Users\jli\AppData\Local\Continuum\Anaconda2\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,groupid,academicyear,unitid_linchpin,unitid,isgrouped,instname,TCSName,city,state,zip,...,Iptall1,Iptall2,Iptall3,Iptall4,Iptall5,Iptall6,Iptall7,Iptall8,Ifaculty_instr_headcount,Isalarytotal
0,-475291,2012,475291,475291,0,Brown College-Brooklyn Center,NaN,Brooklyn Center,MN,55430,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
1,-475282,2012,475282,475282,0,Marian Health Careers Center-Van Nuys Campus,NaN,Van Nuys,CA,91411,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
2,-475273,2012,475273,475273,0,Springfield College-School of Human Services,NaN,Springfield,MA,01109,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
3,-475255,2012,475255,475255,0,American Broadcasting School-Online Program,NaN,Oklahoma City,OK,73115,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2
4,-475246,2012,475246,475246,0,Kaplan College-Chesapeake,NaN,Chesapeake,VA,23320,...,-2,-2,-2,-2,-2,-2,-2,-2,-2,-2

In [4]:
dt_0012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87560 entries, 0 to 87559
Columns: 974 entries, groupid to Isalarytotal
dtypes: float64(550), int64(419), object(5)
memory usage: 650.7+ MB

In [5]:
dt_0012.shape

(87560, 974)

In [50]:
dt_8799 = pd.read_csv('delta_public_87_99.csv')
dt_8799.shape

(128053, 974)

In [43]:
display(dt_8799.head())

,groupid,academicyear,unitid_linchpin,unitid,isgrouped,instname,TCSName,city,state,zip,...,Iptall1,Iptall2,Iptall3,Iptall4,Iptall5,Iptall6,Iptall7,Iptall8,Ifaculty_instr_headcount,Isalarytotal
0,-434973,1999,434973,434973,0,University of Phoenix-Maryland Campus,NaN,Columbia,MD,21045-542,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-1
1,-434937,1999,434937,434937,0,Yeshiva College of the Nations Capital,NaN,Silver Spring,MD,20902,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-1
2,-434928,1999,434928,434928,0,University of Northern Virginia,NaN,Manassas,VA,20109,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-1
3,-434919,1999,434919,434919,0,PONCE JUNIOR COLLEGE,NaN,PONCE,PR,00731,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-1
4,-434876,1999,434876,434876,0,CENTER FOR EMPLOYMENT TRAINING-TRACY CAMPUS,NaN,TRACY,CA,95376,...,-2,-2,-2,-2,-2,-2,-2,-2,-1,-1

In [51]:
dt_8799.isnull().sum().sum()

57280711L

In [53]:
np.isnan()

AttributeError: 'DataFrame' object has no attribute 'isnan'

In [48]:
dt.head()

Empty DataFrame
Columns: [groupid, academicyear, unitid_linchpin, unitid, isgrouped, instname, TCSName, city, state, zip, ansi_code, sector, sector_revised, iclevel, control, oberegion, census_division, census_region, region_compact, carnegie2000, carnegiegrp_2000, carnegie_sector_2000, carnegie2005, carnegiegrp_2005, carnegie_sector_2005, carnegie2010, carnegiegrp_2010, carnegie_sector_2010, flagship, landgrnt, hbcu, hsi, medical, hospital, cpi_index, cpi_scalar_2012, hepi_index, hepi_scalar_2012, heca_index, heca_scalar_2012, has_instruction, has_fte, has_completions, has_all, matched_n_87_12_26, matched_n_02_12_11, matched_n_07_12_6, fte_count, fte12mn, tuition01, tuition02, tuition03, nettuition01, net_student_tuition, federal03, state03, local03, state_local_app, federal07, federal07_net_pell, state06, local06, state_local_grant_contract, federal10, federal10_net_pell, state09, fed_state_loc_grants_con, private03, affiliate01, investment01, endowment03, priv_invest_endow, edactivity03, auxiliary03, hospital03, other03, other04, independent03, other05, auxother_rev, stable_operating_rev, total03_revenue, tot_rev_wo_auxother_sum, tot_rev_w_auxother_sum, unrestricted_revenue, restricted_revenue, tuition_reliance_a1, tuition_reliance_b1, tuition_reliance_c1, tuition_reliance_a2, tuition_reliance_b2, tuition_reliance_c2, govt_reliance_a, govt_reliance_b, govt_reliance_c, appliedaid01, appliedaid02, grant01, grant02, grant03, ...]
Index: []

[0 rows x 974 columns]